@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInFromRight 1.5s cubic-bezier(0.68, -0.55, 0.27, 1) forwards;
}
